<mat-card>
  <h3>Create badge for Leabua Mosia - Informations</h3>

  <div>
    <img *ngIf="!croppedImage" src="./assets/images/photo-placeholder-on-resize.png" class="img-full">
    <img *ngIf="!!croppedImage" [src]="croppedImage" class="img-full">
  </div>
  <div>
    <button
      class="btn-photo"
      mat-raised-button
      color="primary"
      (click)="openDialogTakePhoto()"
    >
      Take photo
    </button>
  </div>
  <div>

    <button
      class="btn-photo"
      mat-raised-button
      color="warn"
    >
      <input
            type="file"
            (change)="fileChangeEvent($event)"
          >
    </button>
  </div>
</mat-card>
