.crop-image {
  min-height: 400px;
  width: 100%;
}

.img-croped {
  margin-left: 100px;
  max-height: 128px;
}

.img-full {
  height: 333px;
}

.btn-photo {
  width: 200px;
  margin-top: 10px;
  margin-left: 30px
}
